#teams-header .teams-btn-actions > * {
    transition: all ease-in 200ms;
}

    #teams-header .teams-btn-actions button {
        border-radius: 24px;
    }

    #teams-header .teams-btn-actions :first-child {
        color: var(--bs-gray-800);
        background-color: var(--primary);
    }

#teams-header .badge {
    color: #000;
    background-color: var(--secondary);
    border-radius: 24px;
}

#teams-header h2.selected {
    border-bottom: 3px solid var(--primary);
}

#teams-header h2 {
    font-size : 1.25rem;
    cursor: pointer;
}

.teams-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 1.5rem;
}

#teams-container ::deep .team-card {
    transition: transform 0.2s ease;
    cursor: pointer;
}

.team-card-body {
    color : var(--bs-gray-800);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team-card-title {
    color: var(--bs-gray-800);
    margin: 0 0;
    text-transform: capitalize;
}
    .team-card-title:hover{
        text-decoration: underline;
    }

.team-card-menu button {
    padding: 0;
}

    .team-card-menu button:hover {
        opacity: 0.7;
    }
