nav {
    border-bottom: 1px solid rgba(128, 128, 128, 0.2);
}

    #app-logo {
    max-width: 82px;
    max-height: 60px;
}

#nav-btn-logout {
    color: var(--bs-gray-800);
    border-color: var(--primary);
    transition: background-color ease-in 200ms;
}

    #nav-btn-logout:hover {
        background-color: var(--primary);
        /*border-color: var(--primary-hover);*/
    }

.nav-item ::deep .nav-link {
    transition : all ease-in 200ms;
    border-radius: 24px;
}

    .nav-item ::deep .nav-link:hover {
        color: var(--bs-gray-800);
        background-color: var(--primary);
    }
